footer {
    background: #F4F4F4;
    color: rgba(0,0,0,0.3);
  }
  .link-footer a{
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 16px;
    padding: 0px 10px;
  }
  .link-footer a:hover {
    opacity: 1;
  }