<div class=container-fluid>
    <h1>SpotsVtts#index</h1>
       <p><%= @markers %></p>
    <div class="container">
      <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
        <% @spots_vtts.each do |spot| %>
            <div class="card-spot">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-spot-infos">
                    <h2><%= link_to spot.name, spots_vtt_path(spot) %></h2> 
                    <p>Product description with <strong>relevant info</strong> only.</p>
                </div>
            </div>
        <% end %>
    </div>
</div>  